<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vacation Request Application</title>
</head>
    <body>
        <h1>Login Page</h1>
        <form method="POST" th:object="${login}">
            <div>
                <div>
                    <div>
                        <h4>Username</h4>
                        <input type="text" th:field="*{username}" id="username"/>
                    </div>
                    <div>
                        <h4>Password</h4>
                        <input type="text" th:field="*{password}" id="password"/>
                    </div>
                    <div>
                        <br>
                        <button>Login</button>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>